<div class="header">
  <div class="text-center">
    <h1 class="display-4">Marwan Moataz</h1>
    <h3>Fullstack Developer</h3>
    <button class="btn btn-primary pt-2 mt-2">Download My CV</button>
    <div class="socials mt-2">
      <a
        class="p-2"
        href="https://www.linkedin.com/in/marwan-el-moataz-609782246/"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a class="p-2" href="https://www.facebook.com/MarawanWezza"
        ><i class="fa-brands fa-facebook"></i
      ></a>
      <a class="p-2" href="https://github.com/marwan-moataz"
        ><i class="fa-brands fa-github"></i
      ></a>
      <a class="p-2" href="https://www.instagram.com/marawanmo3taz/"
        ><i class="fa-brands fa-instagram"></i
      ></a>
    </div>
  </div>
</div>
