<div class="container">
  <div class="row">
    <div class="col-lg shadow border m-1 p-5">
      <div class="text-center">
        <h2>About Me</h2>
        <img
          src="https://getwallpapers.com/wallpaper/full/7/c/2/1173099-best-developer-wallpaper-hd-1920x1280-htc.jpg"
          alt="image"
          style="width: 200px; height: 200px"
          class="rounded-circle"
        />
        <h4>Marwan Moataz</h4>
        <p>
          I'm Marwan Moataz , graduated from Faculty of engineering Ain Shams
          University decided to shift my career to a fullstack web developer
          where i found my passion
        </p>
      </div>
    </div>
  </div>
</div>
