<div class="container d-flex justify-content-center">
  <div class="card" style="width: 18rem">
    <img src="{{ project.projectLink }}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title text-center">{{ project.name }}</h5>
      <p class="card-text text-center">
        {{ project.description }}
      </p>
      <a
        href="https://github.com/marwan-moataz/E-Commerce-React.JS"
        class="btn btn-primary"
        >Visit My Project</a
      >
    </div>
  </div>
</div>
