<div class="container">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://wallpaperset.com/w/full/c/9/0/522708.jpg"
          class="d-block w-100"
          alt="..."
          height="600px"
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://www.stock-free.org/images/stock-free-test-photo-07092015-16.jpg"
          class="d-block w-100"
          alt=""
          height="600px"
        />
      </div>
      <div class="carousel-item">
        <img
          src="http://www.gerardgorman.com/uploads/1/7/8/0/17808/1a_orig.jpeg"
          class="d-block w-100"
          alt="..."
          height="600px"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
